{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
        .custom-ol {
            list-style-type: none; /* 取消默认有序列表样式 */
            padding: 0; /* 取消内边距 */
        }
        .custom-ol li {
            counter-increment: item; /* 增加计数器 */
            margin: 5px 0; /* 添加一些间距 */
        }
        .custom-ol li::before {
            content: "[" counter(item) "] "; /* 添加方括号和计数 */
        }
    </style>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">
